<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baizhi.cmfz.dao.CMFZLogDAO">

	<resultMap type="com.baizhi.cmfz.entity.CMFZLog" id="logMap">
		<id column="id" property="id"/>
		<result column="methodname" property="methodname"/>
		<result column="createdate" property="createdate"/>
		<result column="consumetime" property="consumetime"/>
		<result column="username" property="username"/>
		<result column="result" property="result"/>
	</resultMap>

	<select id="selectAll" resultMap="logMap">
		select * from cmfz_log order by createdate desc limit #{0},#{1}
	</select>

	<select id="selectAllCMFZlog" resultMap="logMap">
		select * from cmfz_log order by createdate desc
	</select>

	<select id="selectCount" resultType="int">
		select count(*) from cmfz_log
	</select>

	<delete id="deletes">
		delete from cmfz_log where id in
		<foreach collection="array" item="id" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

	<insert id="insert">
		insert into cmfz_log values (null,#{methodname},#{createdate},#{consumetime},#{username},#{result})
	</insert>
	
</mapper>